*.xml
*.pyc
*.csv
*.tsv
*.webloc
*.docx
*.swp
json/
utc_json/
csv/
docs/
sample-reports/
batch-data/
scratch/
old/
old-scripts/
*settings.json
*/*settings.json
*/settings.py
nonchalance.py
elsewhere.py
TODO
parameters/
linked/
linkable/
unlinkable/
