*.xml
*.pyc
*.csv
*.tsv
*.webloc
*.docx
*.xlsx
*.swp
*.log
json/
utc_json/
utc_json_2/
week_utc_json/
sqlite-pdl/
sqlite-pdu/
missing_data/
csv/
docs/
cwo_refs/
refs/
meters_etl/
sample-reports/
batch-data/
scratch/
old/
old-scripts/
*settings.json
*/*settings.json
*/settings.py
nonchalance.py
elsewhere.py
TODO
parameters/
linked/
linkable/
unlinkable/
proto_get_revenue.py
credentials.py
